<div class="col-md-12 mt-5" style="margin-right: 20px">
  <h4>Componente hijo A</h4>

  Escribe aquí <br>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="bold">Bold</mat-button-toggle>
    <mat-button-toggle value="italic">Italic</mat-button-toggle>
    <mat-button-toggle value="underline">Underline</mat-button-toggle>
  </mat-button-toggle-group>
  <textarea (input)="changeText($event.target.value)" [(ngModel)]="message"
            style="width: 270px; height: 200px">
  </textarea>
</div>

