@import "~bootstrap";

.fondo {
  background-color: aqua;
}

.fondo2 {
  background-color: lightyellow;
}

.fondo3 {
  background-color: lightgoldenrodyellow;
}

.fondo4 {
  background-color: lightskyblue;
}

.tamano{
  width: 350px;
  border: 2px solid black;
  margin: 5px 5px 5px 0;
  padding: 5px 5px;
}
